.slot{
	height: 30px;
	width: 30px;
	border: 1px solid black;
	float: left;
}

.row{
	height: 30px;
	position: relative;
}

body{
	margin: 0;
	padding: 0;
	text-align: center;
}

#boardSpace{
	margin: 0 auto;
	width: 320px;
	text-align: center;
}
